## IDE
.idea/
.vscode/

## SCM
.git*

## Configurations
.*
*.rc

## Environment
.conda/
.env*
*.env
.venv/
jupyter/

## Tests
.coverage
.pytest_cache
reports

## Caches
**/__pycache__/
STACpopulator.egg-info/
build
*.pyc

# Old Submodule Path
# Could be used locally
pyessv-archive
