## IDE
.idea/
.vscode/

## Environment
.conda/
.env*
*.env
.venv/
jupyter/

## Tests
.coverage
.pytest_cache
reports

## Caches
**/__pycache__/
STACpopulator.egg-info/
build
*.pyc

## Logs
*.jsonl
*.json

# Old Submodule Path
# Could be used locally
pyessv-archive/

