## IDE
.idea/
.vscode/

## Environment
.conda/
.env*
*.env
.venv/
jupyter/

## Tests
.coverage
.pytest_cache
reports

## Caches
**/__pycache__/
STACpopulator.egg-info/
build
*.pyc
.ruff_cache

## Logs
*.jsonl
*.json

## Exclude schemas
!schemas/**/*.json

## Exclude test files
!tests/data/**/*.json

# Old Submodule Path
# Could be used locally
pyessv-archive/
