default_language_version:
  python: python3
default_stages: [pre-commit, pre-push]
repos:
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, pyproject.toml, --configPointer, /tool/markdownlint, "**/*.md"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=2
          - --no-ensure-ascii
          - --no-sort-keys
          # note: keys are a mixture of STAC collection/items/links
          - --top-keys=$schema,$id,stac_version,stac_extensions,href,type,id,title,description,keywords,license,version,experimental,extent,bbox,geometry,summaries,collection,properties,assets,links
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.5
    hooks:
      # Run the linter.
      - id: ruff
      # Run the formatter.
      - id: ruff-format