interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac
  response:
    body:
      string: '{"type": "Catalog", "id": "stac-fastapi", "title": "Data Analytics
        for Canadian Climate Services STAC API", "description": "Searchable spatiotemporal
        metadata describing climate and Earth observation datasets.", "stac_version":
        "1.0.0", "conformsTo": ["https://api.stacspec.org/v1.0.0-rc.1/item-search#filter",
        "https://api.stacspec.org/v1.0.0-rc.1/core", "https://api.stacspec.org/v1.0.0-rc.1/item-search#filter:basic-cql",
        "https://api.stacspec.org/v1.0.0-rc.1/ogcapi-features/extensions/transaction",
        "http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core", "https://api.stacspec.org/v1.0.0-rc.1/item-search#query",
        "https://api.stacspec.org/v1.0.0-rc.1/collections", "https://api.stacspec.org/v1.0.0-rc.1/item-search#fields",
        "http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson", "https://api.stacspec.org/v1.0.0-rc.1/item-search#sort",
        "http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter", "https://api.stacspec.org/v1.0.0-rc.1/item-search",
        "https://api.stacspec.org/v1.0.0-rc.1/item-search#context", "https://api.stacspec.org/v1.0.0-rc.1/ogcapi-features",
        "http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30", "http://www.opengis.net/spec/ogcapi-features-4/1.0/conf/simpletx",
        "https://api.stacspec.org/v1.0.0-rc.1/item-search#filter:cql-text", "http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter"],
        "links": [{"rel": "self", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "root", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "data", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/collections"},
        {"rel": "conformance", "type": "application/json", "title": "STAC/WFS3 conformance
        classes implemented by this server", "href": "https://hirondelle.crim.ca/stac/conformance"},
        {"rel": "search", "type": "application/geo+json", "title"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/
  response:
    body:
      string: '{"type": "Catalog", "id": "stac-fastapi", "title": "Data Analytics
        for Canadian Climate Services STAC API", "description": "Searchable spatiotemporal
        metadata describing climate and Earth observation datasets.", "stac_version":
        "1.0.0", "conformsTo": ["https://api.stacspec.org/v1.0.0-rc.1/item-search#filter",
        "https://api.stacspec.o[...]
- request:
    body: '{"collections": ["stac-fastapi"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hirondelle.crim.ca/stac/search
  response:
    body:
      string: '{"type": "FeatureCollection", "context": {"limit": 10, "returned":
        0}, "features": [], "links": [{"rel": "root", "type": "application/json",
        "href": "https://hirondelle.crim.ca/stac/"}, {"rel": "self", "type": "application/json",
        "href": "https://hirondelle.crim.ca/stac/search"}]}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections
  response:
    body:
      string: '{"collections": [{"id": "EuroSAT-subset-train", "type": "Collection",
        "links": [{"rel": "items", "type": "application/geo+json", "href": "https://hirondelle.crim.ca/stac/collections/EuroSAT-subset-train/items"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "root", "type": "app[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/EuroSAT-subset-train/items?collections=EuroSAT-subset-train
  response:
    body:
      string: '{"type": "FeatureCollection", "context": {"limit": 1, "returned": 1},
        "features": [{"id": "EuroSAT-subset-train-sample-59-class-SeaLake", "bbox":
        [3.9842683707499345, 51.7805405579731, 3.993672523068202, 51.78637042139037],
        "type": "Feature", "links": [{"rel": "collection", "type": "application/json",
        "href": "https://hirondelle.crim.ca/stac/collections/EuroSAT-subset-train"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/collections/EuroSAT-subset-train"},
        {"rel": "root", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/EuroSAT-subset-validate/items?collections=EuroSAT-subset-validate
  response:
    body:
      string: '{"type": "FeatureCollection", "context": {"limit": 1, "returned": 1},
        "features": [{"id": "EuroSAT-subset-validate-sample-19-class-SeaLake", "bbox":
        [28.62981261779354, 44.04039401485675, 28.63795259751062, 44.04626285078978],
        "type": "Feature", "links": [{"rel": "[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/EuroSAT-subset-test/items?collections=EuroSAT-subset-test
  response:
    body:
      string: '{"type": "FeatureCollection", "context": {"limit": 1, "returned": 1},
        "features": [{"id": "EuroSAT-subset-test-sample-19-class-SeaLake", "bbox":
        [0.7595298650425601, 51.505524167132116, 0.7690254918428487, 51.51144967255012],
        "type": "Feature", "links": [{"rel": "collectio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/EuroSAT-full-train/items?collections=EuroSAT-full-train
  response:
    body:
      string: '{"type": "FeatureCollection", "context": {"limit": 1, "returned": 1},
        "features": [{"id": "EuroSAT-full-train-sample-16199-class-SeaLake", "bbox":
        [4.1326879423357825, 51.68570668369, 4.1420906327393485, 51.69154795990422],
        "type": "Feature", "links": [{"rel": "collection", [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/EuroSAT-full-test/items?collections=EuroSAT-full-test
  response:
    body:
      string: '{"type": "FeatureCollection", "context": {"limit": 1, "returned": 1},
        "features": [{"id": "EuroSAT-full-test-sample-5399-class-SeaLake", "bbox":
        [8.330575962843417, 52.503190938174605, 8.340101005521456, 52.50899264394788],
        "type": "Feature", "links": [{"rel": "collection", "t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/EuroSAT-full-validate/items?collections=EuroSAT-full-validate
  response:
    body:
      string: '{"type": "FeatureCollection", "context": {"limit": 1, "returned": 1},
        "features": [{"id": "EuroSAT-full-validate-sample-5399-class-SeaLake", "bbox":
        [9.024079909936473, 53.85815191610074, 9.033810904918164, 53.86390543077758],
        "type": "Feature", "links": [{"rel": "coll[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/newyork_2024/items?collections=newyork_2024
  response:
    body:
      string: '{"type": "FeatureCollection", "context": {"limit": 1, "returned": 1},
        "features": [{"id": "wildfire_timestamp_2024_06_30_12_00_00", "bbox": [-74.25183640848532,
        39.39963288836642, -73.46552682240088, 41.047658030675976], "type": "Feature",
        "links": [{"rel": "collection", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/collections/newyork_2024"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/collections/newyork_2024"},
        {"rel": "root", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "self", "type": "application/geo+json", "href": "https://hirondelle.crim.ca/stac/collections/newyork_2024/items/wildfire_timestamp_2024_06_30_12_00_00"}],
        "assets": {"humidity": {"href": "https://hirondelle.crim.ca/data/stac/wildfire-events/newyork_2024/wildfire_timestamp_2024_06_30_12_00_00/humidity.tif",
        "type": "image/tiff", "roles": ["data"], "title": "Synthetic humidity data
        on 2024-06-30", "units": "%", "value_range": [0, 100], "spatial_resolution":
        100}, "wind_force": {"href": "https://hirondelle.crim.ca/data/stac/wildfire-events/newyork_2024/wildfire_timestamp_2024_06_30_12_00_00/wind_force.tif",
        "type": "image/tiff", "roles": ["data"], "title": "Synthetic wind force data
        on 2024-06-30", "units": "m/s", "value_range": [0, 50], "spatial_resolution":
        1000}, "wind_direction": {"href": "https://hirondelle.crim.ca/data/stac/wildfire-events/newyork_2024/wildfire_timestamp_2024_06_30_12_00_00/wind_direction.tif",
        "type": "image/tiff", "roles": ["data"], "title": "Synthetic wind direction
        data on 2024-06-30", "units": "degrees", "value_range": [0, 360], "spatial_resolution":
        10000}}, "geometry": {"type": "Polygon", "coordinates": [[[-74.1859512039492,
        39.39963288836642], [-74.25183640848532, 39.46773479622578], [-74.24023375341949,
        39.57747972250215], [-74.01059675440258, 40.71688099893748], [-73.46552682240088,
        41.047658030675976], [-73.47376301588918, 40.43045862712127], [-73.89218813678123,
        39.793335195306085], [-74.1859512039492, 39.39963288836642]]]}, "collection":
        "newyork_2024", "properties": {"datetime": "2024-06-30T12:00:00Z"}, "stac_version":
        "1.1.0", "stac_extensions": []}], "links": [{"rel": "items", "type": "application/geo+json",
        "href": "https://hirondelle.crim.ca/stac/collections/newyork_2024/items"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "root", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "self", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/collections/newyork_2024"}]}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/montreal_2023/items?collections=montreal_2023
  response:
    body:
      string: '{"type": "FeatureCollection", "context": {"limit": 1, "returned": 1},
        "features": [{"id": "wildfire_timestamp_2023_08_30_12_00_00", "bbox": [-75.03145935284229,
        43.668352738592986, -72.75146770278656, 46.71579231703174], "type": "Feature",
        "links": [{"rel": "collection", "type": "appl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/0798aa197d54eb4332767a5a4077fb0f/items?collections=0798aa197d54eb4332767a5a4077fb0f
  response:
    body:
      string: '{"type": "FeatureCollection", "context": {"limit": 1, "returned": 1},
        "features": [{"id": "8a6add1935c993b57c6c6ca91f31310b", "bbox": [-140.99778,
        41.6751050889, -52.6480987209, 83.23324], "type": "Feature", "links": [{"rel":
        "collection", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/collections/0798aa197d54eb4332767a5a4077fb0f"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/collections/0798aa197d54eb4332767a5a4077fb0f"},
        {"rel": "root", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "self", "type": "application/geo+json", "href": "https://hirondelle.crim.ca/stac/collections/0798aa197d54eb4332767a5a4077fb0f/items/8a6add1935c993b57c6c6ca91f31310b"}],
        "assets": {"metadata_iso": {"href": "https://pavics.ouranos.ca/twitcher/ows/proxy/thredds/iso/birdhouse/disk2/cccs_portal/indices/Final/BCCAQv2/SDII/YS/rcp45/simulations/BCCAQv2+ANUSPLIN300_MRI-CGCM3_historical+rcp45_r1i1p1_1950-2100_SDII_YS.nc",
        "type": "application/xml", "roles": ["metadata"], "title": "ISO"}, "metadata_http":
        {"href": "https://pavics.ouranos.ca/twitcher/ows/proxy/thredds/fileServer/birdhouse/disk2/cccs_portal/indices/Final/BCCAQv2/SDII/YS/rcp45/simulations/BCCAQv2+ANUSPLIN300_MRI-CGCM3_historical+rcp45_r1i1p1_1950-2100_SDII_YS.nc",
        "type": "application/netcdf", "roles": ["data"], "title": "BCCAQv2+ANUSPLIN300_MRI-CGCM3_historical+rcp45_r1i1p1_1950-2100_SDII_YS.nc"},
        "metadata_ncml": {"href": "https://pavics.ouranos.ca/twitcher/ows/proxy/thredds/ncml/birdhouse/disk2/cccs_portal/indices/Final/BCCAQv2/SDII/YS/rcp45/simulations/BCCAQv2+ANUSPLIN300_MRI-CGCM3_historical+rcp45_r1i1p1_1950-2100_SDII_YS.nc",
        "type": "application/xml", "roles": ["metadata"], "title": "NcML"}, "metadata_opendap":
        {"href": "https://pavics.ouranos.ca/twitcher/ows/proxy/thredds/dodsC/birdhouse/disk2/cccs_portal/indices/Final/BCCAQv2/SDII/YS/rcp45/simulations/BCCAQv2+ANUSPLIN300_MRI-CGCM3_historical+rcp45_r1i1p1_1950-2100_SDII_YS.nc",
        "type": "application/netcdf", "roles": ["data"], "title": "OPeNDAP"}}, "geometry":
        {"type": "Polygon", "coordinates": [[[-140.99778, 41.6751050889], [-140.99778,
        83.23324], [-52.6480987209, 83.23324], [-52.6480987209, 41.6751050889], [-140.99778,
        41.6751050889]]]}, "collection": "0798aa197d54eb4332767a5a4077fb0f", "properties":
        {"freq": "YS", "datetime": "2025-03-13T02:10:01.598339Z", "scenario": "rcp45",
        "variable_id": "SDII", "dataset_name": "BCCAQv2", "collection_id": "CMIP6"},
        "stac_version": "1.0.0", "stac_extensions": []}], "links": [{"rel": "items",
        "type": "application/geo+json", "href": "https://hirondelle.crim.ca/stac/collections/0798aa197d54eb4332767a5a4077fb0f/items"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "root", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "self", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/collections/0798aa197d54eb4332767a5a4077fb0f"}]}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/EuroSAT-subset-train
  response:
    body:
      string: '{"id": "EuroSAT-subset-train", "type": "Collection", "links": [{"rel":
        "items", "type": "application/geo+json", "href": "https://hirondelle.crim.ca/stac/collections/EuroSAT-subset-train/items"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "root", "type": [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/EuroSAT-subset-validate
  response:
    body:
      string: '{"id": "EuroSAT-subset-validate", "type": "Collection", "links": [{"rel":
        "items", "type": "application/geo+json", "href": "https://hirondelle.crim.ca/stac/collections/EuroSAT-subset-validate/items"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "root",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/EuroSAT-subset-test
  response:
    body:
      string: '{"id": "EuroSAT-subset-test", "type": "Collection", "links": [{"rel":
        "items", "type": "application/geo+json", "href": "https://hirondelle.crim.ca/stac/collections/EuroSAT-subset-test/items"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "root", "type": "ap[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/EuroSAT-full-train
  response:
    body:
      string: '{"id": "EuroSAT-full-train", "type": "Collection", "links": [{"rel":
        "items", "type": "application/geo+json", "href": "https://hirondelle.crim.ca/stac/collections/EuroSAT-full-train/items"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "root", "type": "appli[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/EuroSAT-full-test
  response:
    body:
      string: '{"id": "EuroSAT-full-test", "type": "Collection", "links": [{"rel":
        "items", "type": "application/geo+json", "href": "https://hirondelle.crim.ca/stac/collections/EuroSAT-full-test/items"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "root", "type": "applicat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/EuroSAT-full-validate
  response:
    body:
      string: '{"id": "EuroSAT-full-validate", "type": "Collection", "links": [{"rel":
        "items", "type": "application/geo+json", "href": "https://hirondelle.crim.ca/stac/collections/EuroSAT-full-validate/items"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "root", "type[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/newyork_2024
  response:
    body:
      string: '{"id": "newyork_2024", "type": "Collection", "links": [{"rel": "items",
        "type": "application/geo+json", "href": "https://hirondelle.crim.ca/stac/collections/newyork_2024/items"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "root", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "self", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/collections/newyork_2024"}],
        "title": "Wildfire Events in Newyork 2024", "extent": {"spatial": {"bbox":
        [[-74.5, 40.5, -73.5, 41.0]]}, "temporal": {"interval": [["2024-06-01T12:00:00Z",
        "2024-07-01T12:00:00Z"]]}}, "license": "proprietary", "keywords": ["wildfire",
        "synthetic", "climate"], "description": "Synthetic wildfire event in 2024
        with humidity, wind force, and wind direction.", "stac_version": "1.1.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/montreal_2023
  response:
    body:
      string: '{"id": "montreal_2023", "type": "Collection", "links": [{"rel": "items",
        "type": "application/geo+json", "href": "https://hirondelle.crim.ca/stac/collections/montreal_2023/items"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "root", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/"},
        {"rel": "self", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/collections/montreal_2023"}],
        "title": "Wildfire Events in Montreal 2023", "extent": {"spatial": {"bbox":
        [[-75.0, 45.0, -73.0, 46.5]]}, "temporal": {"interval": [["2023-08-01T12:00:00Z",
        "2023-08-31T12:00:00Z"]]}}, "license": "proprietary", "keywords": ["wildfire",
        "synthetic", "climate"], "description": "Synthetic wildfire event in 2023
        with humidity, wind force, and wind direction.", "stac_version": "1.1.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://hirondelle.crim.ca/stac/collections/0798aa197d54eb4332767a5a4077fb0f
  response:
    body:
      string: '{"id": "0798aa197d54eb4332767a5a4077fb0f", "type": "Collection", "links":
        [{"rel": "items", "type": "application/geo+json", "href": "https://hirondelle.crim.ca/stac/collections/0798aa197d54eb4332767a5a4077fb0f/items"},
        {"rel": "parent", "type": "application/json", "href": "https://hirondelle.crim.ca/stac/[...]
[...]
